.App {
    display: grid;
    margin: 2rem;
}
.artist-name {
    display: grid;
    font-weight: bolder;
    font-size: large;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
}
.album-list {
    justify-content: center;
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 2rem;
}
