/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****/
html {
    background: rgba(0, 0, 0, .9);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App {
    display: grid;
    margin: 2rem;
}

.album-art {
    position: relative;
    max-width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: top ease 0.3s;
    border-radius: 4px;
}

.modal-album-art {
    position: relative;
    max-width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: top ease 0.3s;
    border-radius: 4px;
}

.album-art:hover {
    top: -3px;
    cursor: pointer;
}

.album-art:active {
    top: 2px;
}

.album-name {
    display: grid;
    margin-top: .3rem;
    color: #939397;
}

.modal-wrapper {
    display: grid;
    align-items: center;
}

.modal-wrapper a {
    display: grid;
    justify-content: center;
}

.modal-album-name {
    display: grid;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: 1rem;
    text-align: center;
}

.explicit {
    display: inline-block;
    color: #89898d;
}

.artist-name {
    color: #dbdbdb;
    margin-top: .5rem;
    display: grid;
    font-weight: bolder;
    font-size: large;
    grid-auto-flow: row;
    grid-template-columns: 15fr 1fr;
    /* this is for the explicit badge */
    margin-right: -2px;
}

.modal-artist-name {
    color: #fa233b;
    display: grid;
    justify-content: center;
    font-size: x-large;
    line-height: 2rem;
    text-align: center;
}

.modal-album-genre {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    justify-content: center;
    display: grid;
    margin-top: .3rem;
}

.modal-album-details {
    display: grid;
    max-width: 400px;
}

.album-list {
    justify-content: center;
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 2rem;
}

.close-wrapper {
    display: grid;
    justify-content: end;
    margin-top: -1rem;
    margin-right: -1rem;
}

.close-modal-btn {
    background: none;
    border: none;
    font-size: xx-large;
    color: whitesmoke;
}

.close-modal-btn:hover {
    cursor: pointer;
}

.modal {
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(59, 59, 59);
    background: rgba(0, 0, 0, 0.9);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.modal-notes-wrap {
    display: grid;
    max-width: 400px;
    justify-self: center;
}

.modal-editors-notes {
    color: rgba(255, 255, 255, 0.50);
    line-height: 18px;
    font-size: 13px;
    margin-top: 2rem;
    text-align: justify;
}

.modal-editors-notes br {
    display: block;
    line-height: 7rem;
    margin: 1rem;
    content: "!";
}

.modal-editors-notes b {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    font-size: larger;
}

i {
    font-style: italic;
}

.date-selection {
    height: 2rem;
    display: grid;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.50);
    font-size: larger;
    font-weight: bold;
    max-width: 500px;
}

